<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polimigo.benevolent">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Benevolent">
        <activity android:name=".views.WithDrwalDialog"
            android:theme="@android:style/Theme.Holo.Light.Dialog">

        </activity>
        <activity android:name=".views.WithdrawalActivity" />
        <activity android:name=".views.DepositActivity" />
        <activity android:name=".views.AddRegister" />
        <activity android:name=".views.CustomersScreen" />
        <activity android:name=".views.SafeScreen" />
        <activity android:name=".views.AboutApplication" />
        <activity android:name=".views.Persons" />
        <activity
            android:name=".views.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.LoginScreen" />
        <activity android:name=".views.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>